@model CreateTestimonialDto
@{
    ViewData["Title"] = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Referans Girişi</h4>
                        <p class="card-subtitle mb-4">
                            Buradan Referans ekleyebilirsiniz
                        </p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputName">Ad Soyad</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Referans Adını Giriniz...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputTitle">Referans Ünvanı</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Referans Ünvanını Giriniz...">
                            </div>
                           
                            <div class="form-group">
                                <label for="exampleInputImageURL">Referans Görsel</label>
                                <input type="text" class="form-control" id="exampleInputImageURL" asp-for="ImageUrl" placeholder="Referans Image Url Giriniz...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputComment">Referans Yorumu</label>
                                <textarea rows="5" asp-for="Comment" class="form-control" placeholder="Referans Yorumunu Giriniz..." ></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Referans Bilgisini Kaydet</button>
                        </form>
                    </div> <!-- end card-body-->
                </div> <!-- end card -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container-fluid -->
</div> <!-- end page-content -->
