@model CreateSocialMediaDto
@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Sosyal Medya Girişi</h4>
                        <p class="card-subtitle mb-4">
                             Buradan Sosyal Medya ekleyebilirsiniz
                        </p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputTitle">Hizmet Başlığı</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="SocialMediaTitle" placeholder="Sosyal Medya Başlığını Giriniz...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputURL">URL</label>
                                <input type="text" class="form-control" id="exampleInputURL" asp-for="Url" placeholder="Sosyal Medya Url Giriniz...">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputIconURL">Icon URL</label>
                                <input type="text" class="form-control" id="exampleInputIconURL" asp-for="Icon" placeholder="Sosyal Medya Icon URL Giriniz...">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Sosyal Medya Bilgisini Kaydet</button>
                        </form>
                    </div> <!-- end card-body-->
                </div> <!-- end card -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container-fluid -->
</div> <!-- end page-content -->
