@model CreateFooterAddressDto
@{
    ViewData["Title"] = "CreateFooterAddress";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Adres Girişi</h4>
                        <p class="card-subtitle mb-4">
                            Adres Alanına veri girebilirsiniz.Yeni Adres girişi yaparsanız
                            öncekini silin.Sadece 1 tane Adres olmalıdır.
                        </p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputAdress">Adres</label>
                                <input type="text" class="form-control" id="exampleInputAdress" asp-for="Address" placeholder="Adres Bilgisini Giriniz...">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Adres Açıklamasını Giriniz...">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPhone">Telefon Numarası</label>
                                <input type="tel" class="form-control" id="exampleInputPhone" asp-for="PhoneNumber" placeholder="Telefon Numarasını Giriniz...">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail">E-Mail</label>
                                <input type="email" class="form-control" id="exampleInputEmail" asp-for="Email" placeholder="E-Mail Adresini Giriniz...">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Adresi Kaydet</button>
                        </form>
                    </div> <!-- end card-body-->
                </div> <!-- end card -->
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container-fluid -->
</div> <!-- end page-content -->
